{% extends "main.html" %}

{% block content %}
{% include "menu_bar.html" %}

<main class="main-content bgc-grey-100">
    <div class="container bgc-white bd bdrs-3 p-20 mB-20">

            <h1>User Creation</h1>
            {% if message and status %}
                {% if status == 201 %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <strong>Success!</strong> {{ message }}
                    </div>
                    {% else %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <strong>Warning!</strong> {{ message }}
                    </div>
                {% endif%}
            {% endif%}
            <form class="form-horizontal" name="UserForm" action="{% url 'createData:create_user' %}" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="loginID">Login ID</label>
                <div class="controls">
                    <input id="loginID" type="text" class="form-control input-sm chat-input" name="loginID"  placeholder="login ID">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password(Password length must be more than 8 characters)</label>
                <div class="controls">
                    <input id="password" type="password" class="form-control input-sm chat-input" name="password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="appID">Select App</label>
                <div class="controls">
                    <!--<input type="text" class="form-control input-sm chat-input" id="appID" name="appID"  placeholder="App ID">-->
                    <!--<select id="appID" class="form-control" name="appID">-->
                        <!--<option value="">Select Application</option>-->
                    <!--{% for application in applications %}-->
                        <!--<option value="{{ application.id }}">{{ application.appName }}</option>-->
                    <!--{% endfor %}-->
                    <!--</select>-->
                    {% for application in applications %}
                        <input type="checkbox" name="appID" id="appID" value="{{ application.id }}"/>
                        <label><b>{{application.appName}}</b></label><br/>
                    {% endfor %}

                </div>
            </div>
            </br>
            <div class="control-group text-center">
                <div class="controls">
                <button id="create_user" type="submit" class="button-create create">Create</button>
                <a href="{% url 'listData:list_user' %}">
                    <button type="button" class="button-create-cancel create-cancel">Cancel</button>
                </a>
                </div>
            </div>
            </form>

    </div>

</main>
{% endblock %}
