{% extends "main.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="login-container">
    <div class="row">
        <div class="col-md-7">

            <div class="form-login" id="login">

                <img
                   src="{% static 'admin-auth/images/ipay-logo.png' %}"
                   alt="Document"
                   height="40"
                   width="auto"
                   class="img-rounded"
                >
                <p class="text-center"> Welcome to iPay Admin Panel. Please, enter your email </p>
                <p class="text-center">address and password to sign in!</p>
                <form class="form-horizontal" name="LoginForm" action="{% url 'admin-auth:accounts' %}" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden"  name="next" value="{{ next }}" />
                    {% endif %}
                    <input type="hidden" id="appID" name="appID" value="{{ appID }}">
                    <div class="control-group">
                        <div>{{ error }} </div>
                        <label class="control-label" for="loginID">Login ID</label>
                        <div class="controls">
                            <input type="text" class="form-control input-sm chat-input" id="loginID" name="loginID"  placeholder="login ID">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" class="form-control input-sm chat-input" name="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    </br>
                    <div class="wrapper">
                        <button id="user_login" type="submit" class="login" disabled="disabled">Sign In</button>

                    </div>
                    <!--<div class="wrapper">-->

                        <!--<span class="group-btn">-->
                            <!--<button type="submit" class="btn btn-primary btn-md">Login</button>-->
                        <!--</span>-->
                    <!--</div>-->
                </form>
            </div>
        </div>
    </div>
    <link href="{% static 'admin-auth/css/login_body.css' %}"
          rel="stylesheet" media="screen">
</div>

{% endblock %}
