{% extends "main.html" %}

{% block content %}
{% include "menu_bar.html" %}
<div class="row">
    <div class="header col-md-4">
        <br/>
        <h4>Assign service for Group: <b>{{group.groupID}}</b></h4>
        <br/>
         Application Name: <b>{{app.appName}}</b>

    </div>
    <div class="col-md-12">
        <hr/>
        <div class="col-md-1">
            <a href="{% url 'listData:list_group' %}">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
            </a>
        </div>
        {% if message and status %}
            {% if status == 201 %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>Success!</strong> {{ message }}
                </div>
                {% else %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>Warning!</strong> {{ message }}
                </div>
            {% endif%}
        {% endif%}
    </div>
    <div class="table_container">
        <form class="form-horizontal" action="/assign/group/service/{{group.id}}/{{group.appID}}/" method="post">
                  {% csrf_token %}
            <table id="example" class="display compact" width="95%" cellspacing="0">
              <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Service Description</th>
                    <th>Service Group</th>
                    <th class="text-center">Action <input type="checkbox" id="checkAll"></th>


                </tr>
              </thead>
              <tbody>

              {% for service in services %}
                   <tr>

                       <td>{{service.serviceID}}</td>
                       <td>{{service.description}}</td>
                        <td>
                        {% if service.category %}
                            {{service.category}}
                        {% else %}
                            Not Available
                        {% endif %}
                        </td>
                       <td class="text-center">
                          {% if service.assigned is 1  %}
                            <input class="group" name="serviceID"  type="checkbox" value="{{service.id}}" checked>
                            {% else %}
                            <input class="group" name="serviceID" type="checkbox" value="{{service.id}}">
                            {% endif %}
                       </td>

                   </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="wrapper">
                <span class="group-btn">
                    <button type="submit" class="btn button-assign-service">Assign</button>
                </span>
            </div>
        </form>
    </div>
</div>


{% endblock %}


