{% extends "main.html" %}

{% block content %}
{% include "menu_bar.html" %}
<div class="row">
    <div class="header col-md-4">
        <br/>
        <h4>Assign group for User: <b>{{user.loginID}}</b></h4>
        <br/>
         Application Name: <b>{{app.appName}}</b>

    </div>
    <div class="col-md-12">
        <hr/>
    </div>
    <div class="table_container">
        <form class="form-horizontal" action="/admin_auth/assign_user_group/{{user.id}}/{{user.appID}}/" method="post">
                  {% csrf_token %}
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th>Group ID</th>
                    <th>Group Description</th>

                    <th class="text-center">Action</th>


                </tr>
              </thead>
              <tbody>

              {% for group in groups %}
                   <tr>

                       <td>{{group.groupID}}</td>
                       <td>{{group.description}}</td>


                       <td class="text-center">
                          {% if group.assigned is 1  %}
                            <input class="group" name="groupID"  type="checkbox" value="{{group.id}}" checked>
                            {% else %}
                            <input class="group" name="groupID" type="checkbox" value="{{group.id}}">
                            {% endif %}
                       </td>

                   </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="wrapper">
                <span class="group-btn">
                    <button type="submit" class="btn btn-primary btn-md">Submit</button>
                </span>
            </div>
        </form>
    </div>
</div>


{% endblock %}


