{% extends "main.html" %}

{% block content %}
{% include "menu_bar.html" %}
<div class="row">
    <div class="header col-md-4">
        <br/>
        <h4>Assign service for Group: <b>{{group.groupID}}</b></h4>
        <br/>
         Application Name: <b>{{app.appName}}</b>

    </div>
    <div class="col-md-12">
        <hr/>
    </div>
    <div class="table_container">
        <form class="form-horizontal" action="/admin_auth/assign_group_service/{{group.id}}/{{group.appID}}/" method="post">
                  {% csrf_token %}
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Service Description</th>

                    <th class="text-center">Action</th>


                </tr>
              </thead>
              <tbody>

              {% for service in services %}
                   <tr>

                       <td>{{service.serviceID}}</td>
                       <td>{{service.description}}</td>

                       <td class="text-center">
                          {% if service.assigned is 1  %}
                            <input class="group" name="serviceID"  type="checkbox" value="{{service.id}}" checked>
                            {% else %}
                            <input class="group" name="serviceID" type="checkbox" value="{{service.id}}">
                            {% endif %}
                       </td>

                   </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="wrapper">
                <span class="group-btn">
                    <button type="submit" class="btn btn-primary btn-md">Submit</button>
                </span>
            </div>
        </form>
    </div>
</div>


{% endblock %}


