{% extends "main.html" %}

{% block content %}
{% include "menu_bar.html" %}

<div class="row">

    <div class="container">

            <h1>User Creation</h1>
            <div> {{ message }}</div>
            <form class="form-horizontal" name="UserForm" action="{% url 'admin_auth:create_user' %}" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="loginID">Login ID</label>
                <div class="controls">
                    <input type="text" class="form-control input-sm chat-input" id="loginID" name="loginID"  placeholder="login ID">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" class="form-control input-sm chat-input" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="appID">App ID</label>
                <div class="controls">
                    <!--<input type="text" class="form-control input-sm chat-input" id="appID" name="appID"  placeholder="App ID">-->
                    <select class="form-control" name="appID" id="appID">
                    {% for application in applications %}
                        <option value="{{ application.id }}">{{ application.appName }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            </br>
            <div class="control-group text-center">
                <div class="controls">
                <button type="submit" class="button-create create">Create</button>
                <a href="{% url 'admin_auth:list_user' %}">
                    <button type="button" class="button-create-cancel create-cancel">Cancel</button>
                </a>
                </div>
            </div>
            </form>

    </div>

</div>
{% endblock %}
