{% extends "main.html" %}

{% block content %}
{% include "menu_bar.html" %}
<div class="row">

<div class="container">



    <div id="group">
        <h1>Group Creation</h1>
            <div> {{ message }}</div>

        <form class="form-horizontal" name="LoginForm" action="{% url 'admin_auth:create_group' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" class="form-control input-sm chat-input" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
                <label class="control-label" for="appID">App ID</label>
                <div class="controls">
                    <!--<input type="text" class="form-control input-sm chat-input" id="appID" name="appID"  placeholder="App ID">-->
                    <select class="form-control" name="appID" id="appID">
                    {% for application in applications %}
                        <option value="{{ application.id }}">{{ application.appName }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        <div class="control-group">
            <label class="control-label" for="groupID">Group ID</label>
            <div class="controls">
                <input type="text" class="form-control input-sm chat-input" name="groupID" id="groupID" placeholder="group ID">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <!--<input type="text" name="description" id="description" placeholder="description">-->
                 <textarea rows="4" class="form-control input-sm chat-input" cols="50" name="description" id="description"></textarea>
            </div>
        </div>
        </br>

        <div class="control-group text-center">
            <div class="controls">
                <button type="submit" class="button-create create">Create</button>
                <a href="{% url 'admin_auth:list_group' %}">
                    <button type="button" class="button-create-cancel create-cancel">Cancel</button>
                </a>
            </div>
        </div>
        </form>
    </div>

</div>

</div>
{% endblock %}