{% extends "main.html" %}

{% block content %}
{% include "menu_bar.html" %}

<div class="row">
    <div class="header col-md-3">

        <h1>Application List</h1>
        <b> Total Applications: {{apps.count}} </b>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
    <div class="table_container">
        <div class="col-md-offset-3">
            <a href="{% url 'admin_auth:create_app' %}" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Create Application</a>
        </div>
        <br/>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>Application ID</th>
                <th colspan="2">Application Name</th>
                <th>Description</th>

                <th class="text-center" colspan="2">Action</th>


            </tr>
          </thead>
          <tbody>
          {% for app in apps.results %}
               <tr>

                   <td>{{app.id}}</td>
                   <td colspan="2">{{app.appName}}</td>
                   <td>{{app.description}}</td>

                   <td class="text-center" colspan="2">
                       <a href="/admin_auth/edit_app/{{app.id}}/" class="btn button-edit" role="button" aria-pressed="true">Edit</a>

                   </td>

               </tr>
            {% endfor %}
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
              {% if apps.previous == None %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                      Previous
                  </a>
                </li>
              {% else %}
                <li class="page-item">
                <form class="form-horizontal" action="{% url 'admin_auth:list_app' %}" method="post">
                    {% csrf_token %}
                    <input id="prev_url" name="prev_url" type="hidden" value='{{apps.previous}}'>
                  <button type="submit" class="page-link"  aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                      Previous
                  </button>
                </form>
                </li>
              {% endif %}
            <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
          {% if users.next == None %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next">
                  Next
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>

              </a>
            </li>
          {% else %}
              <li class="page-item">
              <form class="form-horizontal" action="{% url 'admin_auth:list_app' %}" method="post">
                  {% csrf_token %}

                  <input id="next_url" name="next_url" type="hidden" value='{{apps.next}}'>

                  <button type="submit" class="page-link" aria-label="Next">
                      Next
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>

                  </button>
              </form>
            </li>
          {% endif %}
          </ul>
        </nav>
    </div>
</div>

{% endblock %}