{% extends "main.html" %}

{% block content %}
<div class="login-container">
    <div class="row">
        <div class="col-md-7">
            <div class="form-login" id="login">
                <form class="form-horizontal" name="LoginForm" action="{% url 'admin_auth:login' %}" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden"  name="next" value="{{ next }}" />
                    {% endif %}
                    <div class="control-group">
                        <div>{{ error }} </div>
                        <label class="control-label" for="loginID">Login ID</label>
                        <div class="controls">
                            <input type="text" class="form-control input-sm chat-input" id="loginID" name="loginID"  placeholder="login ID">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" class="form-control input-sm chat-input" name="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    </br>
                    <div class="wrapper">
                        <button type="submit" class="login">Login</button>

                    </div>
                    <!--<div class="wrapper">-->

                        <!--<span class="group-btn">-->
                            <!--<button type="submit" class="btn btn-primary btn-md">Login</button>-->
                        <!--</span>-->
                    <!--</div>-->
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
