{% extends "main.html" %}

{% block content %}
{% include "menu_bar.html" %}
{% load datetime %}
{% load tojson %}


<div class="row">
    <div class="header col-md-2">
        <br/>

        <h1>Activity List</h1>
        <b> Total Activity: {{activities.count}} </b>
    </div>

    <div class="col-md-12">
        <hr/>
    </div>
    <div class="table_container">
        <div class="row">

            <div class="col-md-8 offset-md-3 search-content">

                <form class="form-horizontal" name="UserForm" action="{% url 'listData:list_activity' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" class="form-control input-sm chat-input"
                                   {% if searchParam.login_id  %}
                                        value={{searchParam.login_id}}
                                    {% endif %}
                                   id="login_id" name="login_id"  placeholder="login id">

                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control input-sm chat-input"
                                   {% if searchParam.service_name  %}
                                        value={{searchParam.service_name}}
                                    {% endif %}
                                   id="service_id" name="service_id"  placeholder="service ID">

                        </div>
                        <div class="col-md-3">
                            <select class="form-control" name="app_id" id="app_id">
                                <option value="">Select Application</option>
                            {% for application in applications %}
                                {% if searchParam.app_id|add:"0" == application.id|add:"0" %}
                                    <option value="{{ application.id }}"  selected >{{ application.appName }}</option>
                                {% else %}
                                    <option value="{{ application.id }}" >{{ application.appName }}</option>

                                {% endif %}

                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="button-search">Search</button>

                            <a href="{% url 'listData:list_activity' %}">
                                <button type="button" class="button-reset">Reset</button>
                            </a>
                        </div>
                    </div>


                </form>
            </div>
        </div>
        <br/>
        <table id="example" class="display compact" width="100%" cellspacing="0">
          <thead>
            <tr>
                <th>Application Name</th>
                <th colspan="2">User</th>
                <th>Service ID</th>
                <th>Data</th>
                <th>Action Time</th>

            </tr>
          </thead>
          <tbody>
          {% for activity in activities.results %}
               <tr>

                   <td style="width:5%">
                       {% for application in applications %}
                                {% if activity.app|add:"0" == application.id|add:"0" %}
                                    {{application.appName}}
                                {% endif %}
                       {% endfor %}
                   </td>
                   <td style="width:10%" colspan="2">{{activity.user}}</td>
                   <td style="width:5%">{{activity.service}}</td>
                   <td style="width:4%">
                       {% if activity.data %}
                            {{activity.data | get_json:activity.data}}
                       {% else %}
                            N/A
                       {% endif %}
                   </td>

                   <td style="width:10%">{{activity.createdAT | get_date_time:activity.createdAT}}</td>

               </tr>
            {% endfor %}
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
              {% if activities.previous == None %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                      Previous
                  </a>
                </li>
              {% else %}
                <li class="page-item">
                <form class="form-horizontal" action="{% url 'listData:list_activity' %}?service_id={{searchParam.service_name}}&app_id={{searchParam.app_id}}&login_id={{searchParam.login_id}}" method="post">
                    {% csrf_token %}
                    <input id="prev_url" name="prev_url" type="hidden" value='{{activities.previous}}'>
                  <button type="submit" class="page-link"  aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                      Previous
                  </button>
                </form>
                </li>
              {% endif %}
            <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
          {% if activities.next == None %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next">
                  Next
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>

              </a>
            </li>
          {% else %}
              <li class="page-item">
              <form class="form-horizontal" action="{% url 'listData:list_activity' %}?service_id={{searchParam.service_name}}&app_id={{searchParam.app_id}}&app_id={{searchParam.app_id}}&login_id={{searchParam.login_id}}" method="post">
                  {% csrf_token %}

                  <input id="next_url" name="next_url" type="hidden" value='{{activities.next}}'>

                  <button type="submit" class="page-link" aria-label="Next">
                      Next
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>

                  </button>
              </form>
            </li>
          {% endif %}
          </ul>
        </nav>
    </div>
</div>

{% endblock %}